.left-menu {
  width: 15rem;
  order: 0;
  min-height: 92vh;
}

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 92vh;
}
.layout-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}
